@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout2";
}
@section Script{
    <link rel="stylesheet" href="~/css/test.css" />
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
